{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Authors list
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Authors : </h1>
                 <ol>
                    {% for author in authors %}
                        <li >
                            <a href="{{url_for('user.profile',pk=author.user_id)}}">
                                {{ author.user.first_name}} {{ author.user.last_name}} {{ author.id}}
                            </a>
                        </li>
                    {% endfor %}
                 </ol>
        </div>
    </div>
{% endblock %}