{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Users list
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Users : </h1>
                 <ol>
                    {% for user in users %}
                       <!-- <li >{{ users[user_id] }}</li> -->
                     <li ><a href="{{url_for('user.profile',pk=user.id)}}">{{ user.email}}</li>
                    {% endfor %}
                 </ol>
        </div>
    </div>
{% endblock %}